/* @media (prefers-color-scheme: light) { */
@media (prefers-color-scheme: dark) {
  :root {
    --text: #040316;
    --bg: #fbfbfe;
    --primary: #ff0000;
    --secondary: #fff200;
    --accent: #ffa500;

    --text5: #eae9fc;
    --text10: #d4d2f9;
    --text20: #a9a5f3;
    --text30: #7e78ed;
    --text40: #534be7;
    --text50: #281fe0;
    --text60: #2018b4;
    --text70: #181287;
    --text80: #100c5a;
    --text90: #08062d;
    --text95: #040316;

    --bg5: #ebebfa;
    --bg10: #d6d6f5;
    --bg20: #adadeb;
    --bg30: #8585e0;
    --bg40: #5c5cd6;
    --bg50: #3333cc;
    --bg60: #2929a3;
    --bg70: #1f1f7a;
    --bg80: #141452;
    --bg90: #0a0a29;
    --bg90: #050514;

    --primary5: #ffe5e5;
    --primary10: #ffcccc;
    --primary20: #ff9999;
    --primary30: #ff6666;
    --primary40: #ff3333;
    --primary50: #ff0000;
    --primary60: #cc0000;
    --primary70: #990000;
    --primary80: #660000;
    --primary90: #330000;
    --primary90: #1a0000;

    --secondary5: #fffee5;
    --secondary10: #fffccc;
    --secondary20: #fffa99;
    --secondary30: #fff766;
    --secondary40: #fff533;
    --secondary50: #fff200;
    --secondary60: #ccc200;
    --secondary70: #999100;
    --secondary80: #666100;
    --secondary90: #333000;
    --secondary90: #1a1800;

    --accent5: #fff6e5;
    --accent10: #ffedcc;
    --accent20: #ffdb99;
    --accent30: #ffc966;
    --accent40: #ffb833;
    --accent50: #ffa600;
    --accent60: #cc8500;
    --accent70: #996300;
    --accent80: #664200;
    --accent90: #332100;
    --accent90: #1a1100;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #040316;
    --bg: #fbfbfe;
    --primary: #ff0000;
    --secondary: #fff200;
    --accent: #ffa500;

    --text5: #eae9fc;
    --text10: #d4d2f9;
    --text20: #a9a5f3;
    --text30: #7e78ed;
    --text40: #534be7;
    --text50: #281fe0;
    --text60: #2018b4;
    --text70: #181287;
    --text80: #100c5a;
    --text90: #08062d;
    --text95: #040316;

    --bg5: #ebebfa;
    --bg10: #d6d6f5;
    --bg20: #adadeb;
    --bg30: #8585e0;
    --bg40: #5c5cd6;
    --bg50: #3333cc;
    --bg60: #2929a3;
    --bg70: #1f1f7a;
    --bg80: #141452;
    --bg90: #0a0a29;
    --bg90: #050514;

    --primary5: #ffe5e5;
    --primary10: #ffcccc;
    --primary20: #ff9999;
    --primary30: #ff6666;
    --primary40: #ff3333;
    --primary50: #ff0000;
    --primary60: #cc0000;
    --primary70: #990000;
    --primary80: #660000;
    --primary90: #330000;
    --primary90: #1a0000;

    --secondary5: #fffee5;
    --secondary10: #fffccc;
    --secondary20: #fffa99;
    --secondary30: #fff766;
    --secondary40: #fff533;
    --secondary50: #fff200;
    --secondary60: #ccc200;
    --secondary70: #999100;
    --secondary80: #666100;
    --secondary90: #333000;
    --secondary90: #1a1800;

    --accent5: #fff6e5;
    --accent10: #ffedcc;
    --accent20: #ffdb99;
    --accent30: #ffc966;
    --accent40: #ffb833;
    --accent50: #ffa600;
    --accent60: #cc8500;
    --accent70: #996300;
    --accent80: #664200;
    --accent90: #332100;
    --accent90: #1a1100;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --text: #eae9fc;
    --bg: #010104;
    --primary: #ff0000;
    --secondary: #fff200;
    --accent: #ffa600;

    --text5: #040316;
    --text10: #08062d;
    --text20: #100c5a;
    --text30: #181287;
    --text40: #2018b4;
    --text50: #281fe0;
    --text60: #534be7;
    --text70: #7e78ed;
    --text80: #a9a5f3;
    --text90: #d4d2f9;
    --text90: #eae9fc;

    --bg5: #050514;
    --bg10: #0a0a29;
    --bg20: #141452;
    --bg30: #1f1f7a;
    --bg40: #2929a3;
    --bg50: #3333cc;
    --bg60: #5c5cd6;
    --bg70: #8585e0;
    --bg80: #adadeb;
    --bg90: #d6d6f5;
    --bg90: #ebebfa;

    --primary5: #1a0000;
    --primary10: #330000;
    --primary20: #660000;
    --primary30: #990000;
    --primary40: #cc0000;
    --primary50: #ff0000;
    --primary60: #ff3333;
    --primary70: #ff6666;
    --primary80: #ff9999;
    --primary90: #ffcccc;
    --primary90: #ffe5e5;

    --secondary5: #1a1800;
    --secondary10: #333000;
    --secondary20: #666100;
    --secondary30: #999100;
    --secondary40: #ccc200;
    --secondary50: #fff200;
    --secondary60: #fff533;
    --secondary70: #fff766;
    --secondary80: #fffa99;
    --secondary90: #fffccc;
    --secondary90: #fffee5;

    --accent5: #1a1100;
    --accent10: #332100;
    --accent20: #664200;
    --accent30: #996300;
    --accent40: #cc8500;
    --accent50: #ffa600;
    --accent60: #ffb833;
    --accent70: #ffc966;
    --accent80: #ffdb99;
    --accent90: #ffedcc;
    --accent90: #fff6e5;
  }
} */
